# Vamos utilizar o mlflow para ler a nossa model pipeline

Neste notebook iremos utilizar a pipeline que registamos no notebook anterior para fazer previsões.

In [4]:
import mlflow
import pandas as pd

In [5]:
from pathlib import Path

uri = "../../mlruns"

Path(uri).mkdir(parents=True, exist_ok=True)

mlflow.set_tracking_uri(uri)

In [6]:
# Fazer load da versão 1 do modelo "logistic_regression" que registamos no notebook anterior
# Têm de mudar a versão de acordo com quantas versões registaram.

model_name = "logistic_reg"
model_version = 1

model = mlflow.pyfunc.load_model(f"models:/{model_name}/{model_version}")
model

mlflow.pyfunc.loaded_model:
  artifact_path: logistic_reg
  flavor: mlflow.sklearn
  run_id: cd2759b81f374fdd9cced4ef3ca7ea81

## Vamos utilizar o modelo lido para fazer previsões

In [7]:
data_path = '../../data/diabetes_test.csv'
df = pd.read_csv(data_path)

In [8]:
input_data = df.loc[df.Outcome == 1].sample(10)
input_data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
3,7,150,78,29,126,35.2,0.692,54,1
37,4,115,72,0,0,28.9,0.376,46,1
54,3,171,72,33,135,33.3,0.199,24,1
2,7,106,60,24,0,26.5,0.296,29,1
45,11,135,0,0,0,52.3,0.578,40,1
8,1,147,94,41,0,49.3,0.358,27,1
11,0,138,60,35,167,34.6,0.534,21,1
40,5,136,84,41,88,35.0,0.286,35,1
1,9,112,82,32,175,34.2,0.260,36,1
17,3,163,70,18,105,31.6,0.268,28,1

In [9]:
model.predict(input_data.drop("Outcome", axis=1))

array([1, 0, 1, 0, 1, 1, 0, 1, 0, 1])