# Vamos utilizar o mlflow para ler a nossa model pipeline

Neste notebook iremos utilizar a pipeline que registamos no notebook anterior para fazer previsões.

In [4]:
import mlflow
import pandas as pd

In [5]:

from pathlib import Path

# uri = "http://0.0.0.0:5000"
uri = "http://localhost:5000"

mlflow.set_tracking_uri(uri)

In [6]:
# Fazer load da versão 1 do modelo "logistic_regression" que registamos no notebook anterior
# Têm de mudar a versão de acordo com quantas versões registaram.

model_name = "logistic_reg"
model_version = "champion"

model = mlflow.pyfunc.load_model(f"models:/{model_name}@{model_version}")
model

mlflow.pyfunc.loaded_model:
  artifact_path: lr_pipeline
  flavor: mlflow.sklearn
  run_id: a3ff8920859a4799a0362c3978c8126d

## Vamos utilizar o modelo lido para fazer previsões

In [7]:
data_path = '../../data/diabetes_test.csv'
df = pd.read_csv(data_path)

In [8]:
input_data = df.loc[df.Outcome == 1].sample(10)
input_data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
106,5,139,80,35,160,31.6,0.361,25,1
33,4,109,64,44,99,34.8,0.905,26,1
7,7,152,88,44,0,50.0,0.337,36,1
27,11,120,80,37,150,42.3,0.785,48,1
54,3,171,72,33,135,33.3,0.199,24,1
80,0,128,68,19,180,30.5,1.391,25,1
64,3,162,52,38,0,37.2,0.652,24,1
88,2,197,70,99,0,34.7,0.575,62,1
84,6,190,92,0,0,35.5,0.278,66,1
79,6,124,72,0,0,27.6,0.368,29,1

In [9]:
model.predict(input_data.drop("Outcome", axis=1))

array([0, 0, 1, 1, 1, 0, 1, 1, 1, 0])